kafka.cluster.zkStr.cluster1={{ getenv "SRC_ZK_CONNECT" }}
kafka.cluster.servers.cluster1={{ getenv "SRC_KF_CONNECT" }}
kafka.cluster.zkStr.cluster2={{ getenv "DST_ZK_CONNECT" }}
kafka.cluster.servers.cluster2={{ getenv "DST_KF_CONNECT" }}